{% autoescape false %}
    <ul class="tabs tabs--menu-item">
        <li>
            <a href="#" data-router-navigate="{{ relativeUrl('gear') }}"
               class="{{ activeMenuItem == 'gear' ? 'active' : '' }}">
                {{ "Gear"|trans }}
            </a>
        </li>
        <li>
            <a href="#" data-router-navigate="{{ relativeUrl('gear/maintenance') }}"
               class="flex items-center {{ activeMenuItem == 'gearMaintenance' ? 'active' : '' }}">
                {% if maintenanceTaskIsDue %}
                    <span class="flex w-3 h-3 me-2 bg-red-500 rounded-full animate-pulse"
                          title="{{ "One of your gear maintenance tasks is due"|trans }}"></span>
                {% endif %}
                {{ "Maintenance"|trans }}
            </a>
        </li>
        <li>
            <a href="#" data-router-navigate="{{ relativeUrl('gear/recording-devices') }}"
               class="{{ activeMenuItem == 'recordingDevices' ? 'active' : '' }}">
                {{ "Recording devices"|trans }}
            </a>
        </li>
    </ul>
{% endautoescape %}