{% include 'html/navigation/breadcrumbs.html.twig' with {'breadcrumbs': [{
    'url': 'best-efforts',
    'label': 'Best efforts'|trans
}]} %}
{% autoescape false %}
    {% if bestEffortsCharts|length > 1 %}
        <div class="mb-4 border-b border-gray-200">
            <ul class="flex flex-wrap -mb-px text-sm font-medium text-center"
                id="bestEffortsActivityTypeTab" data-tabs="#bestEffortsActivityTypeTabContent"
                role="tablist">
                {% for activityType,chart in bestEffortsCharts %}
                    <li class="mr-2" role="presentation">
                        <a href="#" data-tabs-target="#bestEfforts{{ activityType }}" role="tab"
                           aria-controls="bestEfforts{{ activityType }}"
                           class="inline-flex items-center justify-center p-2 border-b-2 rounded-t-lg group">
                            {{ enum('App\\Domain\\Activity\\ActivityType').from(activityType)|trans }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div id="bestEffortsActivityTypeTabContent">
        {% for activityType,bestEffortsChart in bestEffortsCharts %}
            {% set activityTypeEnum = enum('App\\Domain\\Activity\\ActivityType').from(activityType) %}
            {% set bestEffortsForActivityType = bestEfforts[activityType] %}
            <div id="bestEfforts{{ activityType }}" role="tabpanel"
                 aria-labelledby="bestEfforts{{ activityType }}-tab">
                <div class="mb-4 p-4 bg-white border border-gray-200 rounded-lg shadow-xs">
                    <div class="mb-4 h-[20rem]" data-echarts-options='{{ bestEffortsChart }}'></div>
                </div>
                <div class="mb-4 p-4 bg-white border border-gray-200 rounded-lg shadow-xs">
                    <h3 class="mb-4 text-lg font-semibold">
                        {{ "Details"|trans }}
                    </h3>
                    <div class="relative overflow-x-auto">
                        <table class="w-full text-sm text-center text-gray-500">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                            <tr>
                                <th scope="col" class="px-2 py-3 sticky left-0 bg-gray-50">
                                    {{ "Distance"|trans }}
                                </th>
                                {% for sportType in bestEffortsForActivityType.getUniqueSportTypes() %}
                                    <th scope="col" class="text-left px-2 py-3">
                                        {{ sportType|trans }}
                                    </th>
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for distance in activityTypeEnum.getDistancesForBestEffortCalculation() %}
                                <tr class="bg-white border-b">
                                    <th scope="row"
                                        class="px-2 py-2 sticky left-0 bg-white font-medium text-gray-900 whitespace-nowrap">
                                        <div>{{ distance.isLowerThanOne() ? distance.toFloat()|round(1) : distance.toInt() }} {{ distance.getSymbol() }}</div>
                                    </th>
                                    {% for sportType in bestEffortsForActivityType.getUniqueSportTypes() %}
                                        {% set bestEffort = bestEffortsForActivityType.getBySportTypeAndDistance(sportType, distance) %}
                                        {% if bestEffort %}
                                            {% set activity = bestEffort.getActivity() %}
                                            <td class="px-2 py-2 truncate">
                                                <div class="flex gap-x-4">
                                                    {{ activity.getStartDate()|formatDate() }}
                                                    {{ activity|renderTitle(ellipses: 30) }}
                                                </div>
                                            </td>
                                        {% else %}
                                            <td class="px-2 py-2 truncate">

                                            </td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endautoescape %}