<div class="flex items-center justify-between mb-5">
    <div class="flex items-center gap-x-1">
        {% include 'html/navigation/breadcrumbs.html.twig' with {'breadcrumbs': [{
            'url': 'eddington',
            'label': 'Eddington'|trans
        }], 'disableMargin': true} %}
        <button data-popover-target="popover-eddington-info" type="button">
            <svg class="w-4 h-4 ml-1 text-gray-400 hover:text-gray-500" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
            <span class="sr-only">{{ "Show information"|trans }}</span>
        </button>
        <div data-popover id="popover-eddington-info" role="tooltip" class="w-50 lg:w-md inline-block text-sm">
            <p class="p-3">{{ "The Eddington number in the context of cycling or running is defined as the maximum number E such that the athlete has covered at least E km on at least E days."|trans }}</p>
            <p class="p-3">{{ "For example, an Eddington number of 70 would imply that a cyclist has cycled at least 70 km or miles in a day on at least 70 occasions. Achieving a high Eddington number is difficult, since moving from, say, 70 to 75 will (probably) require more than five new long-distance workouts, since any workout shorter than 75 km or miles will no longer be included in the reckoning."|trans }}</p>
        </div>
    </div>
    <ul class="tabs tabs--pills" id="eddingtonUnitSystemTab" data-tabs="#eddingtonUnitSystemTabContent"
        data-tabs-active-classes="active" data-tabs-inactive-classes="inactive" role="tablist">
        {% for unitSystem in activeUnitSystem.casesWithPreferredFirst() %}
            <li role="presentation">
                <a href="#" data-tabs-target="#eddingtonUnitSystem{{ unitSystem.value }}Tab" role="tab" aria-controls="eddingtonUnitSystem{{ unitSystem.value }}Tab">
                    {{ svg(unitSystem.getSvgIcon(), 'size-5', 'text-grey-900') }}
                    <span class="hidden md:block">{{ unitSystem|trans }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% autoescape false %}
     <div class="grid grid-cols-1 gap-4">
         <div id="eddingtonUnitSystemTabContent">
             {% for unitSystem in activeUnitSystem.casesWithPreferredFirst() %}
                 {% set eddingtonsForUnitSystem = eddingtons|filter(e => e.getUnitSystem() == unitSystem) %}
                 <div id="eddingtonUnitSystem{{ unitSystem.value }}Tab" role="tabpanel" aria-labelledby="eddingtonUnitSystem{{ unitSystem.value }}Tab">
                     {% if eddingtonsForUnitSystem|length > 1 %}
                         <div class="tabs tabs--default mb-2">
                             <ul id="eddington{{ unitSystem.value }}Tab" data-tabs="#eddington{{ unitSystem.value }}TabContent" role="tablist">
                                 {% for eddington in eddingtonsForUnitSystem %}
                                     <li role="presentation">
                                         <a href="#" data-tabs-target="#{{ eddington.getId() }}" role="tab" aria-controls="{{ eddington.getId() }}">
                                             {{ eddington.getLabel() }} ({{ eddington.getNumber() }})
                                         </a>
                                     </li>
                                 {% endfor %}
                             </ul>
                         </div>
                     {% endif %}
                     <div id="eddington{{ unitSystem.value }}TabContent">
                         {% for eddington in eddingtonsForUnitSystem %}
                             <div class="grid grid-cols-1 gap-4" id="{{ eddington.getId() }}" role="tabpanel" aria-labelledby="{{ eddington.getId() }}-tab">
                                 <!-- EDDINGTON CHART -->
                                 <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-xs">
                                     <div class="h-64" data-echarts-options='{{ eddingtonCharts[eddington.getId()] }}'></div>
                                 </div>
                                 <!-- HISTORY -->
                                 <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-xs">
                                     <h3 class="font-bold mb-4">{{ "History"|trans }}</h3>
                                     <div class="h-64" data-echarts-options='{{ eddingtonHistoryCharts[eddington.getId()] }}'></div>
                                 </div>
                             </div>
                         {% endfor %}
                     </div>
                 </div>
             {% endfor %}
         </div>
     </div>
 {% endautoescape %}