{% include 'html/navigation/breadcrumbs.html.twig' with {'breadcrumbs': [{
    'url': 'eddington',
    'label': 'Eddington'|trans
}]} %}
{% autoescape false %}
     <div class="grid grid-cols-1 gap-4">
         <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-xs">
             <blockquote class="p-4 mb-4 border-l-4 border-gray-300 bg-gray-50">
                 <p class="italic leading-relaxed text-gray-600 mb-4">{{ "The Eddington number in the context of cycling or running is defined as the maximum number E such that the athlete has covered at least E km on at least E days."|trans }}</p>
                 <p class="italic leading-relaxed text-gray-600">{{ "For example, an Eddington number of 70 would imply that a cyclist has cycled at least 70 km or miles in a day on at least 70 occasions. Achieving a high Eddington number is difficult, since moving from, say, 70 to 75 will (probably) require more than five new long-distance workouts, since any workout shorter than 75 km or miles will no longer be included in the reckoning."|trans }}</p>
             </blockquote>
         </div>
         <div>
             {% if eddingtons|length > 1 %}
                 <div class="tabs tabs--default mb-2">
                     <ul id="eddingtonTab" data-tabs="#eddingtonTabContent" role="tablist">
                         {% for eddingtonId,eddington in eddingtons %}
                             <li role="presentation">
                                 <a href="#" data-tabs-target="#{{ eddingtonId }}" role="tab" aria-controls="{{ eddingtonId }}">
                                     {{ eddington.getLabel() }} ({{ eddington.getNumber() }})
                                 </a>
                             </li>
                         {% endfor %}
                     </ul>
                 </div>
             {% endif %}
             <div id="eddingtonTabContent">
                 {% for eddingtonId,eddington in eddingtons %}
                    <div class="grid grid-cols-1 gap-4" id="{{ eddingtonId }}" role="tabpanel" aria-labelledby="{{ eddingtonId }}-tab">
                        <!-- EDDINGTON CHART -->
                        <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-xs">
                            <div class="h-64" data-echarts-options='{{ eddingtonCharts[eddingtonId] }}'></div>
                        </div>
                        <!-- HISTORY -->
                        <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-xs">
                            <h3 class="font-bold mb-4">{{ "History"|trans }}</h3>
                            <div class="h-64" data-echarts-options='{{ eddingtonHistoryCharts[eddingtonId] }}'></div>
                        </div>
                        <!-- DAYS NEEDED -->
                        <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-xs">
                            <h3 class="font-bold mb-4">{{ "Days needed"|trans }}</h3>
                            <div class="h-64" data-echarts-options='{{ eddingtonDaysNeededCharts[eddingtonId] }}'></div>
                        </div>
                     </div>
                 {% endfor %}
             </div>
         </div>
     </div>
 {% endautoescape %}