{% include 'html/navigation/breadcrumbs.html.twig' with {'breadcrumbs': [{
    'url': 'photos',
    'label': 'Photos'|trans
}]} %}
{% autoescape false %}
    <!-- PHOTOS -->
    {% if sportTypes|length > 1 %}
        <div class="mb-4 border-b border-gray-200 flex items-center">
            <ul class="mr-[40px] overflow-x-auto flex gap-x-2 -mb-px text-sm font-medium text-center" id="photoTypeTab" data-tabs="#photoTypeTabContent" role="tablist">
                <li class="shrink-0" role="presentation">
                    <a href="#" data-tabs-target="#all" role="tab" aria-controls="all" class="inline-flex items-center justify-center p-2 border-b-2 rounded-t-lg group">
                        {{ "All"|trans }} ({{ images.getAll()|length }})
                    </a>
                </li>
                {% for sportType in sportTypes %}
                    {% set imageCount =  images.getForSportType(sportType)|length %}
                    <li class="shrink-0" role="presentation">
                        <a href="#" {{ loop.first ? 'data-tab-default': '' }} data-tabs-target="#{{ sportType.value }}" role="tab" aria-controls="{{ sportType.value }}" class="inline-flex items-center justify-center p-2 border-b-2 rounded-t-lg group">
                            {{ sportType|trans }} ({{ imageCount }})
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div id="photoTypeTabContent">
        {% if sportTypes|length > 1 %}
            <div class="relative" id="all" role="tabpanel" aria-labelledby="all-tab">
                <div class="flex flex-wrap gap-2">
                    {% for image in images.getAll() %}
                        <a class="grow h-[25vh]" href="{{ image.getActivity().getUrl() }}" target="_blank">
                            <img class="h-full w-full object-cover align-bottom rounded-lg shadow-sm lazy"
                                 data-src="{{ relativeUrl(image.getImageUrl()) }}" alt="{{ image.getActivity().getName() }}" title="{{ image.getActivity().getName() }}" src="{{ placeholderImage() }}" />
                        </a>
                    {% endfor %}
                    <div class="grow-10"></div>
                </div>
            </div>
        {% endif %}
        {% for sportType in sportTypes %}
            {% set imagesForSportType = images.getForSportType(sportType) %}
            {% set lightGalleryElements = imagesForSportType|map(image => {
                'src': relativeUrl(image.getImageUrl()),
                'subHtml': '<p>' ~ image.getActivity().getSanitizedName() ~ '</p>',
                'alt':  image.getActivity().getSanitizedName(),
            })|array_values() %}
            <div class="relative" id="{{ sportType.value }}" role="tabpanel" aria-labelledby="{{ sportType.value }}-tab">
                <div class="absolute -top-[48px] right-0 text-gray-500 hover:text-strava-orange">
                    <a href="#" title="{{ "Start slideshow"|trans }}" data-light-gallery-elements='{{ lightGalleryElements|json_encode() }}'>
                        {{ svg('slideshow') }}
                    </a>
                </div>
                <div class="flex flex-wrap gap-2">
                    {% for image in imagesForSportType %}
                        <a class="grow h-[25vh]" href="{{ image.getActivity().getUrl() }}" target="_blank">
                            <img class="h-full w-full object-cover align-bottom rounded-lg shadow-sm lazy"
                                 data-src="{{ relativeUrl(image.getImageUrl()) }}" alt="{{ image.getActivity().getName() }}" title="{{ image.getActivity().getName() }}" src="{{ placeholderImage() }}" />
                        </a>
                    {% endfor %}
                    <div class="grow-10"></div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endautoescape %}