{% autoescape false %}
    <div class="tabs tabs--default">
        <ul>
            <li>
                <a href="{{ relativeUrl(path('admin_manage_gear_overview')) }}"
                   class="{{ activeMenuItem == 'gear' ? 'active' : '' }}">
                    {{ "Gear"|trans }}
                </a>
            </li>
            <li>
                <a href="{{ relativeUrl(path('admin_manage_recording_devices_overview')) }}"
                   class="{{ activeMenuItem == 'recordingDevices' ? 'active' : '' }}">
                    {{ "Recording devices"|trans }}
                </a>
            </li>
        </ul>
    </div>
{% endautoescape %}
