{% autoescape false %}
    <div class="flex items-center justify-between mb-4">
        <h3 class="text-lg font-semibold">
            {{ "Most recent challenges"|trans }}
        </h3>
        <a href="#" data-router-navigate="{{ relativeUrl('challenges') }}"
           class="shrink-0 inline-flex items-center p-2 text-sm font-medium rounded-lg text-blue-600 hover:bg-gray-100">
            {{ "View all"|trans }}
        </a>
    </div>
    <div class="flex gap-2 grow items-center overflow-x-auto">
        {% for challenge in challenges %}
            {% set tooltipContent = challenge.getName()|replace({'"':'\''}) %}
            <a class="h-[130px] shrink-0" href="{{ challenge.getUrl() }}" title="{{ tooltipContent }}">
                <img src="{{ placeholderImage() }}" data-src="{{ relativeUrl(challenge.getLocalLogoUrl()) }}" alt="{{ tooltipContent }}" class="h-full object-cover object-top lazy rounded-lg" />
            </a>
        {% endfor %}
    </div>
{% endautoescape %}