{% set uniqueId = uniqueNumberForId('monthlyStatsWidget') %}
<div class="flex items-center justify-between mb-4">
    <h3 class="text-lg font-semibold">
        {{ "Monthly stats"|trans }}
    </h3>
    <ul class="inline-flex rounded-md shadow-xs divide-x divide-gray-200"
        id="monthlyStatsTab{{ uniqueId }}" data-tabs="#monthlyStatsTabContent{{ uniqueId }}"
        data-tabs-active-classes="text-strava-orange" data-tabs-inactive-classes="text-gray-900" role="tablist">
        {% for context in metricsDisplayOrder %}
            <li class="flex gap-x-1 shrink-0 cursor-pointer
                   bg-white border-gray-200 border-t border-b first:border-l last:border-r first:rounded-s-lg last:rounded-e-lg" role="presentation">
                <a href="#" data-tabs-target="#monthlyStats{{ context.value }}{{ uniqueId }}" role="tab"
                   aria-controls="monthlyStats{{ context.value }}{{ uniqueId }}"
                   class="inline-flex gap-x-1 items-center px-4 py-1 text-sm font-medium hover:text-strava-orange">
                    {{ svg(context.getSvgIcon(), 'w-5 h-5') }}
                    <span class="hidden md:block">{{ context|trans }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
<div id="monthlyStatsTabContent{{ uniqueId }}">
    {% for context in metricsDisplayOrder %}
        <div id="monthlyStats{{ context.value }}{{ uniqueId }}" role="tabpanel"
             aria-labelledby="monthlyStats{{ context.value }}{{ uniqueId }}">
            {% set monthlyStatsCharts = monthlyStatsChartsPerContext[context.value] %}
            {% if monthlyStatsCharts|length > 1 %}
                <div class="mb-4 border-b border-gray-200">
                    <ul class="flex gap-x-2 overflow-x-auto -mb-px text-sm font-medium text-center"
                        id="monthlyStatsActivityType{{ context.value }}Tab{{ uniqueId }}" data-tabs="#monthlyStatsActivityType{{ context.value }}TabContent{{ uniqueId }}"
                        role="tablist">
                        {% for activityType,chart in monthlyStatsCharts %}
                            <li class="shrink-0" role="presentation">
                                <a href="#" data-tabs-target="#monthlyStats{{ activityType }}{{ context.value }}{{ uniqueId }}" role="tab"
                                   aria-controls="monthlyStats{{ activityType }}{{ context.value }}{{ uniqueId }}"
                                   class="inline-flex items-center justify-center p-2 border-b-2 rounded-t-lg group">
                                    {{ enum('App\\Domain\\Activity\\ActivityType').from(activityType)|trans }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div id="monthlyStatsActivityType{{ context.value }}TabContent{{ uniqueId }}">
                {% for activityType,chart in monthlyStatsCharts %}
                    <div id="monthlyStats{{ activityType }}{{ context.value }}{{ uniqueId }}" role="tabpanel"
                         aria-labelledby="monthlyStats{{ activityType }}{{ context.value }}{{ uniqueId }}-tab">
                        <div class="h-80" data-echarts-options='{{ chart }}' data-echarts-click="handleMonthlyStatsClick"></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>