{% autoescape false %}
    <div class="flex items-center justify-between mb-4">
        <h3 class="text-lg font-semibold">
            {{ "Total hours spent per gear"|trans }}
            {% if not restrictedToSportTypes is empty %}
                - {{ restrictedToSportTypes|map(sportType => sportType|trans)|join(', ', ' '~ "and"|trans ~' ') }}
            {% endif %}
        </h3>
        <a href="#" data-router-navigate="{{ relativeUrl('gear') }}"
           class="shrink-0 inline-flex items-center p-2 text-sm font-medium rounded-lg text-blue-600 hover:bg-gray-100">
            {{ "View details"|trans }}
        </a>
    </div>

    <div class="h-full min-h-[16rem]" data-echarts-options='{{ gearChart }}'></div>
{% endautoescape %}