{% set uniqueId = uniqueNumberForId('monthlyStatsWidget') %}
{% set monthlyStatsContext = enum('App\\Domain\\Dashboard\\StatsContext') %}
<div class="flex items-center justify-between mb-4">
    <h3 class="text-lg font-semibold">
        {{ "Monthly stats"|trans }}
    </h3>
    <ul class="inline-flex rounded-md shadow-xs"
        id="monthlyStatsTab{{ uniqueId }}" data-tabs="#monthlyStatsTabContent{{ uniqueId }}"
        data-tabs-active-classes="text-strava-orange" data-tabs-inactive-classes="text-gray-900" role="tablist">
        <li class="flex shrink-0" role="presentation">
            <a href="#" data-tabs-target="#monthlyStats{{ monthlyStatsContext.MOVING_TIME.value }}{{ uniqueId }}" role="tab"
               aria-controls="monthlyStatsTime"
               class="cursor-pointer inline-flex gap-x-1 items-center px-4 py-1 text-sm font-medium bg-white border border-gray-200 rounded-s-lg hover:text-strava-orange">
                {{ svg('time', 'w-5 h-5') }}
                <span class="hidden md:block">{{ "Time"|trans }}</span>
            </a>
        </li>
        <li class="flex shrink-0" role="presentation">
            <a href="#" data-tabs-target="#monthlyStats{{ monthlyStatsContext.DISTANCE.value }}{{ uniqueId }}" role="tab"
               aria-controls="monthlyStatsDistance"
               class="cursor-pointer inline-flex gap-x-1 items-center px-4 py-1 text-sm font-medium bg-white border-t border-b border-r border-gray-200 hover:text-strava-orange">
                {{ svg('distance', 'w-5 h-5') }}
                <span class="hidden md:block">{{ "Distance"|trans }}</span>
            </a>
        </li>
        <li class="flex shrink-0" role="presentation">
            <a href="#" data-tabs-target="#monthlyStats{{ monthlyStatsContext.ELEVATION.value }}{{ uniqueId }}" role="tab"
               aria-controls="monthlyStatsElevation"
               class="cursor-pointer inline-flex gap-x-1 items-center px-4 py-1 text-sm font-medium bg-white border-t border-b border-r border-gray-200 rounded-e-lg hover:text-strava-orange">
                {{ svg('elevation', 'w-5 h-5') }}
                <span class="hidden md:block">{{ "Elevation"|trans }}</span>
            </a>
        </li>
    </ul>
</div>
<div id="monthlyStatsTabContent{{ uniqueId }}">
    {% for context in monthlyStatsContext.cases() %}
        <div id="monthlyStats{{ context.value }}{{ uniqueId }}" role="tabpanel"
             aria-labelledby="monthlyStats{{ context.value }}{{ uniqueId }}">
            {% set monthlyStatsCharts = monthlyStatsChartsPerContext[context.value] %}
            {% if monthlyStatsCharts|length > 1 %}
                <div class="mb-4 border-b border-gray-200">
                    <ul class="flex gap-x-2 overflow-x-auto -mb-px text-sm font-medium text-center"
                        id="monthlyStatsActivityType{{ context.value }}Tab{{ uniqueId }}" data-tabs="#monthlyStatsActivityType{{ context.value }}TabContent{{ uniqueId }}"
                        role="tablist">
                        {% for activityType,chart in monthlyStatsCharts %}
                            <li class="shrink-0" role="presentation">
                                <a href="#" data-tabs-target="#monthlyStats{{ activityType }}{{ context.value }}{{ uniqueId }}" role="tab"
                                   aria-controls="monthlyStats{{ activityType }}{{ context.value }}{{ uniqueId }}"
                                   class="inline-flex items-center justify-center p-2 border-b-2 rounded-t-lg group">
                                    {{ enum('App\\Domain\\Activity\\ActivityType').from(activityType)|trans }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div id="monthlyStatsActivityType{{ context.value }}TabContent{{ uniqueId }}">
                {% for activityType,chart in monthlyStatsCharts %}
                    <div id="monthlyStats{{ activityType }}{{ context.value }}{{ uniqueId }}" role="tabpanel"
                         aria-labelledby="monthlyStats{{ activityType }}{{ context.value }}{{ uniqueId }}-tab">
                        <div class="h-80" data-echarts-options='{{ chart }}' data-echarts-click="handleMonthlyStatsClick"></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>