{% set uniqueId = uniqueNumberForId('weekDayStatsWidget') %}
{% autoescape false %}
    <div class="flex items-center mb-4">
        <h3 class="text-lg font-semibold">
            {{ "Stats per weekday"|trans }}
        </h3>
        <button type="button" data-fullscreen-trigger class="[&.full-screen-enabled]:hidden ml-auto self-start cursor-pointer">
            {{ svg('expand') }}
            <span class="sr-only">{{ "Enter fullscreen mode"|trans }}</span>
        </button>
    </div>
    {% if statsPerActivityType|length > 0 %}
        <div class="tabs tabs--default">
            <ul id="weekDayStatsActivityTypeTab{{ uniqueId }}" data-tabs="#weekDayStatsActivityTypeTabContent{{ uniqueId }}"
                role="tablist">
                <li role="presentation">
                    <a href="#" data-tabs-target="#weekDayStatsAll{{ uniqueId }}" role="tab" aria-controls="all">
                        {{ "All"|trans }}
                    </a>
                </li>
                {% for activityType,stats in statsPerActivityType %}
                    <li role="presentation">
                        <a href="#" data-tabs-target="#weekDayStats{{ activityType }}{{ uniqueId }}" role="tab"
                           aria-controls="weekDayStats{{ activityType }}{{ uniqueId }}">
                            {{ enum('App\\Domain\\Activity\\ActivityType').from(activityType)|trans }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="grow flex flex-col" id="weekDayStatsActivityTypeTabContent{{ uniqueId }}">
        <div class="grow flex flex-col" id="weekDayStatsAll{{ uniqueId }}" role="tabpanel" aria-labelledby="weekDayStatsAll{{ uniqueId }}-tab">
            <div class="h-80 group-[.fullscreen-is-enabled]:grow group-[.fullscreen-is-enabled]:h-full" data-echarts-options='{{ allActivities.chart }}'></div>
            <div class="relative overflow-x-auto">
                <table class="w-full text-sm text-center text-gray-500">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                    <tr>
                        <th scope="col" class="px-2 py-3 sticky left-0 bg-gray-50">

                        </th>
                        <th scope="col" class="px-6 py-3">
                            # {{ "workouts"|trans }}
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <div class="flex items-center justify-center">
                                {{ svg('distance') }}
                            </div>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <div class="flex items-center justify-center">
                                {{ svg('elevation') }}
                            </div>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            <div class="flex items-center justify-center">
                                {{ svg('time') }}
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for weekday, statistic in allActivities.weekDayStats.getData() %}
                        <tr class="bg-white border-b">
                            <th scope="row"
                                class="px-2 py-2 sticky bg-white left-0 font-medium text-gray-900 whitespace-nowrap">
                                {{ weekday }}
                            </th>
                            <td class="px-6 py-2">
                                {{ statistic.numberOfWorkouts }}
                            </td>
                            <td class="px-6 py-2 truncate">
                                {% if statistic.totalDistance.toFloat() > 0 %}
                                    {{ statistic.averageDistance|renderMeasurement(0, 'avg'|trans) }} /
                                    {{ statistic.totalDistance|renderMeasurement(0, 'total'|trans) }}
                                {% else %}
                                    0<span class="text-xs">{{ statistic.totalDistance.getSymbol() }}</span>
                                {% endif %}
                            </td>
                            <td class="px-6 py-2 truncate">
                                {{ statistic.totalElevation|renderMeasurement(0) }}
                            </td>
                            <td class="px-6 py-2 truncate" title="{{ statistic.movingTimeInHours.toFloat()|formatNumber(1) }}h">
                                {{ statistic.movingTimeForHumans }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% for activityType,stats in statsPerActivityType %}
            <div class="grow flex flex-col" id="weekDayStats{{ activityType }}{{ uniqueId }}" role="tabpanel" aria-labelledby="weekDayStats{{ activityType }}{{ uniqueId }}-tab">
                <div class="h-80 group-[.fullscreen-is-enabled]:grow group-[.fullscreen-is-enabled]:h-full" data-echarts-options='{{ stats.chart }}'></div>
                <div class="relative overflow-x-auto">
                    <table class="w-full text-sm text-center text-gray-500">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                        <tr>
                            <th scope="col" class="px-2 py-3 sticky left-0 bg-gray-50">

                            </th>
                            <th scope="col" class="px-6 py-3">
                                # {{ "workouts"|trans }}
                            </th>
                            <th scope="col" class="px-6 py-3">
                                <div class="flex items-center justify-center">
                                    {{ svg('distance') }}
                                </div>
                            </th>
                            <th scope="col" class="px-6 py-3">
                                <div class="flex items-center justify-center">
                                    {{ svg('elevation') }}
                                </div>
                            </th>
                            <th scope="col" class="px-6 py-3">
                                <div class="flex items-center justify-center">
                                    {{ svg('time') }}
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for weekday, statistic in stats.weekDayStats.getData() %}
                            <tr class="bg-white border-b">
                                <th scope="row"
                                    class="px-2 py-2 sticky bg-white left-0 font-medium text-gray-900 whitespace-nowrap">
                                    {{ weekday }}
                                </th>
                                <td class="px-6 py-2">
                                    {{ statistic.numberOfWorkouts }}
                                </td>
                                <td class="px-6 py-2 truncate">
                                    {% if statistic.totalDistance.toFloat() > 0 %}
                                        {{ statistic.averageDistance|renderMeasurement(0, 'avg'|trans) }} /
                                        {{ statistic.totalDistance|renderMeasurement(0, 'total'|trans) }}
                                    {% else %}
                                        0<span class="text-xs">{{ statistic.totalDistance.getSymbol() }}</span>
                                    {% endif %}
                                </td>
                                <td class="px-6 py-2 truncate">
                                    {{ statistic.totalElevation|renderMeasurement(0) }}
                                </td>
                                <td class="px-6 py-2 truncate">
                                    {{ statistic.movingTimeForHumans }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>
{% endautoescape %}