{% set uniqueId = uniqueNumberForId('gearStatsWidget') %}
{% autoescape false %}
    <div class="flex items-center justify-between mb-4">
        <h3 class="text-lg font-semibold">
            {{ "Total hours spent per gear"|trans }}
        </h3>
        <div class="flex">
            <a href="#" data-router-navigate="{{ relativeUrl('gear') }}"
               class="shrink-0 inline-flex items-center p-2 text-sm font-medium rounded-lg text-blue-600 hover:bg-gray-100">
                {{ "View details"|trans }}
            </a>
            <button type="button" data-fullscreen-trigger class="-mt-0.5 cursor-pointer">
                {{ svg('expand') }}
                <span class="sr-only">{{ "Enter fullscreen mode"|trans }}</span>
            </button>
        </div>
    </div>
    {% if chartsPerActivityType|length > 0 %}
        <div class="tabs tabs--default">
            <ul id="gearStatsActivityTypeTab{{ uniqueId }}" data-tabs="#gearStatsActivityTypeTabContent{{ uniqueId }}"
                role="tablist">
                <li role="presentation">
                    <a href="#" data-tabs-target="#gearStatsAll{{ uniqueId }}" role="tab" aria-controls="all">
                        {{ "All"|trans }}
                    </a>
                </li>
                {% for activityType,charts in chartsPerActivityType %}
                    <li role="presentation">
                        <a href="#" data-tabs-target="#gearStats{{ activityType }}{{ uniqueId }}" role="tab"
                           aria-controls="gearStats{{ activityType }}{{ uniqueId }}">
                            {{ enum('App\\Domain\\Activity\\ActivityType').from(activityType)|trans }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div id="gearStatsActivityTypeTabContent{{ uniqueId }}" class="flex flex-col grow">
        <div class="grow" id="gearStatsAll{{ uniqueId }}" role="tabpanel"
             aria-labelledby="gearStatsAll{{ uniqueId }}-tab">
            <div class="h-full min-h-64" data-echarts-options='{{ chartAllGears }}'></div>
        </div>
        {% for activityType,chart in chartsPerActivityType %}
            <div class="grow" id="gearStats{{ activityType }}{{ uniqueId }}" role="tabpanel"
                 aria-labelledby="gearStats{{ activityType }}{{ uniqueId }}-tab">
                <div class="h-full min-h-64" data-echarts-options='{{ chart }}'></div>
            </div>
        {% endfor %}
    </div>
{% endautoescape %}