{% autoescape false %}
    <div class="flex items-center justify-between mb-4">
        <h3 class="text-lg font-semibold">
            {{ "Most recent activities"|trans }}
        </h3>
        <a href="#" data-router-navigate="{{ relativeUrl('activities') }}"
           class="inline-flex items-center p-2 text-sm font-medium rounded-lg text-blue-600 hover:bg-gray-100">
            {{ "View all"|trans }}
        </a>
    </div>
    <div class="relative overflow-x-scroll">
        <table class="w-full text-sm text-center text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="px-2 py-3">

                </th>
                <th scope="col" class="px-2 py-3 bg-gray-50 sticky left-0">

                </th>
                <th scope="col" class="px-6 py-3">
                    <div class="flex items-center justify-center">
                        {{ svg('distance') }}
                    </div>
                </th>
                <th scope="col" class="px-6 py-3">
                    <div class="flex items-center justify-center">
                        {{ svg('elevation') }}
                    </div>
                </th>
                <th scope="col" class="px-6 py-3">
                    <div class="flex items-center justify-center">
                        {{ svg('time') }}
                    </div>
                </th>
                <th scope="col" class="px-6 py-3">
                    <div class="flex items-center justify-center">
                        {{ svg('speed') }}
                    </div>
                </th>
                <th scope="col" class="px-6 py-3">
                    <div class="flex items-center justify-center">
                        {{ svg('heart-rate') }}
                    </div>
                </th>
                <th scope="col" class="px-6 py-3">
                    <div class="flex items-center justify-center">
                        {{ svg('calories') }}
                    </div>
                </th>
                <th scope="col" class="px-6 py-3">
                    <div class="flex items-center justify-center">
                        {{ svg('power') }}
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for activity in mostRecentActivities %}
                {% set activityType =  activity.getSportType().getActivityType() %}
                <tr class="{{ cycle(['bg-white border-b', 'border-b bg-gray-50'], loop.index0) }}">
                    <td class="px-2 py-2">
                        <div class="w-[4.5rem]">{{ activity.getStartDate()|formatDate() }}</div>
                    </td>
                    <td class="px-2 py-2 truncate sticky left-0 {{ cycle(['bg-white', 'bg-gray-50'], loop.index0) }}">
                        {{ activity|renderTitle(ellipses: 30) }}
                    </td>
                    <td class="px-6 py-2">
                        {{ activity.getDistance()|renderMeasurement(activityType.getDistancePrecision()) }}
                    </td>
                    <td class="px-6 py-2">
                        <div class="w-[4rem]"> {{ activity.getElevation()|renderMeasurement(0) }}</div>
                    </td>
                    <td class="px-6 py-2">
                        {{ activity.getMovingTimeFormatted() }}
                    </td>
                    <td class="px-6 py-2">
                        {% set velocityPreference = activity.getSportType().getVelocityDisplayPreference() %}
                        {% if velocityPreference is instanceof('App\\Infrastructure\\ValueObject\\Measurement\\Velocity\\SecPer100Meter') %}
                            {{ activity.getPaceInSecPer100Meter()|formatPace }}<span class="text-xs">/100m</span>
                        {% elseif velocityPreference is instanceof('App\\Infrastructure\\ValueObject\\Measurement\\Velocity\\SecPerKm') %}
                            {{ activity.getPaceInSecPerKm()|formatPace }}<span class="text-xs">{{ renderUnitSymbol('pace') }}</span>
                        {% else %}
                            {{ activity.getAverageSpeed()|renderMeasurement(1) }}
                        {% endif %}
                    </td>
                    <td class="px-6 py-2">
                        {{ activity.getAverageHeartRate() ?? 'n/a' }}
                    </td>
                    <td class="px-6 py-2">
                        {{ activity.getCalories() }}<span class="text-xs">kcal</span>
                    </td>
                    <td class="px-6 py-2">
                        {{ activity.getAveragePower() ? activity.getAveragePower() ~ '<span class="text-xs">w</span>': 'n/a' }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endautoescape %}