{% autoescape false %}
    <div class="flex items-center justify-between mb-4">
        <h3 class="text-lg font-semibold">
            {{ "Most recent activities"|trans }}
        </h3>
        <a href="#" data-router-navigate="{{ relativeUrl('activities') }}"
           class="inline-flex items-center p-2 text-sm font-medium rounded-lg text-blue-600 hover:bg-gray-100">
            {{ "View all"|trans }}
        </a>
    </div>
    <div class="relative h-0 min-h-70 grow overflow-x-auto overflow-y-auto">
        <table class="data-table">
            <thead>
            <tr>
                <th scope="col" class="narrow">
                    {{ "Date"|trans }}
                </th>
                <th scope="col" class="narrow bg-gray-50 sticky left-0">
                    {{ "Title"|trans }}
                </th>
                <th scope="col">
                    {{ "Dist."|trans }}
                </th>
                <th scope="col">
                    {{ "Elev."|trans }}
                </th>
                <th scope="col">
                    {{ "Moving time"|trans }}
                </th>
                <th scope="col">
                    {{ "Speed"|trans }}
                </th>
                <th scope="col">
                    {{ "HR"|trans }}
                </th>
                <th scope="col">
                    {{ "Cal."|trans }}
                </th>
                <th scope="col">
                    {{ "Power"|trans }}
                </th>
            </tr>
            </thead>
            <tbody>
            {% for activity in mostRecentActivities %}
                {% set activityType =  activity.getSportType().getActivityType() %}
                <tr class="group/row">
                    <td class="narrow whitespace-nowrap">
                        {{ activity.getStartDate()|formatDate() }}
                    </td>
                    <td class="narrow truncate sticky left-0 bg-white">
                        {{ activity|activityLink(ellipses: 30) }}
                    </td>
                    <td>
                        {{ activity.getDistance()|renderMeasurement(activityType.getDistancePrecision()) }}
                    </td>
                    <td>
                        {{ activity.getElevation()|renderMeasurement(0) }}
                    </td>
                    <td>
                        {{ activity.getMovingTimeFormatted() }}
                    </td>
                    <td>
                        {% set velocityPreference = activity.getSportType().getVelocityDisplayPreference() %}
                        {% if velocityPreference is instanceof('App\\Infrastructure\\ValueObject\\Measurement\\Velocity\\SecPer100Meter') %}
                            {{ activity.getPaceInSecPer100Meter()|formatPace }}<span class="text-xxs ml-px">/100m</span>
                        {% elseif velocityPreference is instanceof('App\\Infrastructure\\ValueObject\\Measurement\\Velocity\\SecPerKm') %}
                            {{ activity.getPaceInSecPerKm()|formatPace }}<span class="text-xxs ml-px">{{ renderUnitSymbol('pace') }}</span>
                        {% else %}
                            {{ activity.getAverageSpeed()|renderMeasurement(1) }}
                        {% endif %}
                    </td>
                    <td>
                        {{ activity.getAverageHeartRate() ?? 'n/a' }}
                    </td>
                    <td>
                        {{ activity.getCalories() }}<span class="text-xxs ml-px">kcal</span>
                    </td>
                    <td>
                        {{ activity.getAveragePower() ? activity.getAveragePower() ~ '<span class="text-xxs ml-px">w</span>': 'n/a' }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endautoescape %}