{% set uniqueId = uniqueNumberForId('weeklyStatsWidget') %}
{% autoescape false %}
    <h3 class="mb-4 text-lg font-semibold">
        {{ "Weekly stats"|trans }}
    </h3>
    {% if weeklyDistanceCharts|length > 1 %}
        <div class="tabs tabs--default">
            <ul id="weeklyDistancesActivityTypeTab{{ uniqueId }}" data-tabs="#weeklyDistancesActivityTypeTabContent{{ uniqueId }}"
                role="tablist">
                {% for activityType,chart in weeklyDistanceCharts %}
                    <li role="presentation">
                        <a href="#" data-tabs-target="#weeklyDistances{{ activityType }}{{ uniqueId }}" role="tab"
                           aria-controls="weeklyDistances{{ activityType }}{{ uniqueId }}">
                            {{ enum('App\\Domain\\Activity\\ActivityType').from(activityType)|trans }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div id="weeklyDistancesActivityTypeTabContent{{ uniqueId }}">
        {% for activityType,chart in weeklyDistanceCharts %}
            <div id="weeklyDistances{{ activityType }}{{ uniqueId }}" role="tabpanel"
                 aria-labelledby="weeklyDistances{{ activityType }}{{ uniqueId }}-tab">
                <div class="h-80" data-echarts-options='{{ chart }}' data-echarts-click="handleWeeklyStatsClick" data-echarts-click-data='{{ weeksPerActivityType[activityType] }}'></div>
            </div>
        {% endfor %}
    </div>
{% endautoescape %}