{% autoescape false %}
    {% set sportTypes = bestEffortsCalculator.getSportTypesFor(period, activityType) %}
    <!-- Modal header -->
    <div class="modal-header flex items-center justify-between">
        <h3>
            <span>{{ "Best efforts"|trans }} - {{ activityType|trans }} - {{ distance.isLowerThanOne() ? distance.toFloat()|round(1) : distance.toInt() }} {{ distance.getSymbol() }}</span>
        </h3>
        <div class="flex items-center">
            <button type="button" class="close">
                <svg class="size-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
                <span class="sr-only">{{ "Close modal"|trans }}</span>
            </button>
        </div>
    </div>
    <!-- Modal body -->
    <div class="modal-body space-y-4">
        <div class="grid grid-cols-1 gap-4">
            <div class="relative overflow-x-auto">
                <table class="data-table">
                    <thead>
                    <tr>
                        <th scope="col" class="sticky left-0 bg-gray-50">
                            <div class="flex items-center justify-center" title="{{ "Ranking"|trans }}">
                               {{ "Rank"|trans }}
                            </div>
                        </th>
                        {% for sportType in sportTypes %}
                            <th scope="col">
                                {{ sportType|trans }}
                            </th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in 0..9 %}
                        <tr class="group/row">
                            <th scope="row"
                                class="sticky left-0 bg-white font-medium text-gray-900 whitespace-nowrap">
                                {{ loop.index }}
                            </th>
                            {% for sportType in sportTypes %}
                                {% set bestEffort = bestEffortsCalculator.historyFor(sportType, distance, i) %}
                                {% if bestEffort %}
                                    {% set activity = enrichedActivities.find(bestEffort.getActivityId()) %}
                                    <td class="truncate">
                                        <div class="font-semibold text-gray-700">{{ bestEffort.getFormattedTime() }}</div>
                                        <div class="text-xs">{{ activity.getStartDate()|formatDate() }}</div>
                                        <div class="text-xs inline-flex">{{ activity|activityLink(ellipses: 50) }}</div>
                                    </td>
                                {% else %}
                                    <td class="truncate"> - </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endautoescape %}