{% include 'html/navigation/breadcrumbs.html.twig' with {'breadcrumbs': [{
    'url': 'best-efforts',
    'label': 'Best efforts'|trans
}]} %}
{% autoescape false %}
    {% if bestEffortsCharts|length > 1 %}
        <div class="tabs tabs--default">
            <ul id="bestEffortsActivityTypeTab" data-tabs="#bestEffortsActivityTypeTabContent"
                role="tablist">
                {% for activityType,bestEffortsChartPerPeriod in bestEffortsCharts %}
                    <li role="presentation">
                        <a href="#" data-tabs-target="#bestEfforts{{ activityType }}" role="tab"
                           aria-controls="bestEfforts{{ activityType }}">
                            {{ enum('App\\Domain\\Activity\\ActivityType').from(activityType)|trans }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div id="bestEffortsActivityTypeTabContent">
        {% for activityType,bestEffortsChartPerPeriod in bestEffortsCharts %}
            {% set activityTypeEnum = enum('App\\Domain\\Activity\\ActivityType').from(activityType) %}
            <div id="bestEfforts{{ activityType }}" role="tabpanel" aria-labelledby="bestEfforts{{ activityType }}-tab">
                <ul class="tabs tabs--pills mb-4" id="bestEffortsPeriodTab{{ activityType }}" data-tabs="#bestEffortsPeriodTabContent{{ activityType }}"
                    data-tabs-active-classes="active" data-tabs-inactive-classes="inactive" role="tablist">
                    {% for period,chart in bestEffortsChartPerPeriod %}
                        <li role="presentation">
                            <a href="#" data-tabs-target="#bestEffortsPeriod{{ activityType }}{{ period }}" role="tab"
                               aria-controls="bestEffortsPeriod{{ activityType }}{{ period.value }}">
                                {{ enum('App\\Domain\\Activity\\BestEffort\\BestEffortPeriod').from(period)|trans }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <div id="bestEffortsPeriodTabContent{{ activityType }}">
                    {% for period,chart in bestEffortsChartPerPeriod %}
                        {% set bestEffortsForActivityTypeAndPeriod = bestEfforts[activityType][period] %}
                        {% set bestEffortsChart = bestEffortsCharts[activityType][period] %}
                        <div id="bestEffortsPeriod{{ activityType }}{{ period }}" role="tabpanel" aria-labelledby="bestEffortsPeriod{{ activityType }}{{ period.value }}-tab">
                            <div class="mb-4 p-4 bg-white border border-gray-200 rounded-lg shadow-xs">
                                <div class="mb-4 h-80" data-echarts-options='{{ bestEffortsChart }}'></div>
                            </div>
                            <div class="mb-4 p-4 bg-white border border-gray-200 rounded-lg shadow-xs">
                                <h3 class="mb-4 text-lg font-semibold">
                                    {{ "Details"|trans }}
                                </h3>
                                <div class="relative overflow-x-auto">
                                    <table class="w-full text-sm text-center text-gray-500">
                                        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                                        <tr>
                                            <th scope="col" class="px-2 py-3 sticky left-0 bg-gray-50">
                                                {{ "Distance"|trans }}
                                            </th>
                                            {% for sportType in bestEffortsForActivityTypeAndPeriod.getUniqueSportTypes() %}
                                                <th scope="col" class="px-2 py-3">
                                                    {{ sportType|trans }}
                                                </th>
                                                <th scope="col" colspan="2" class="px-2 py-3">

                                                </th>
                                            {% endfor %}
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for distance in activityTypeEnum.getDistancesForBestEffortCalculation() %}
                                            <tr class="bg-white border-b">
                                                <th scope="row" class="px-2 py-2 sticky left-0 bg-white font-medium text-gray-900 whitespace-nowrap">
                                                    <div>
                                                        <a href="#" class="font-medium text-blue-600 hover:underline"
                                                           data-model-content-url="{{ relativeUrl('best-efforts/' ~ activityTypeEnum.value  ~ '/'  ~ distance.toInt()  ~ '-' ~ distance.getSymbol() ~ '.html')|lower }}">
                                                            {{ distance.isLowerThanOne() ? distance.toFloat()|round(1) : distance.toInt() }} {{ distance.getSymbol() }}
                                                        </a>
                                                    </div>
                                                </th>
                                                {% for sportType in bestEffortsForActivityTypeAndPeriod.getUniqueSportTypes() %}
                                                    {% set bestEffort = bestEffortsForActivityTypeAndPeriod.getOneBySportTypeAndDistance(sportType, distance) %}
                                                    {% if bestEffort %}
                                                        {% set activity = bestEffort.getActivity() %}
                                                        <td class="px-2 py-2 truncate">
                                                            {{ activity.getStartDate()|formatDate() }}
                                                        </td>
                                                        <td class="px-2 py-2 truncate">
                                                            {{ bestEffort.getFormattedTime() }}
                                                        <td class="px-2 py-2 truncate">
                                                            {{ activity|activityLink(ellipses: 50) }}
                                                        </td>
                                                    {% else %}
                                                        <td class="px-2 py-2 truncate"></td>
                                                        <td class="px-2 py-2 truncate"></td>
                                                        <td class="px-2 py-2 truncate"></td>
                                                    {% endif %}
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endautoescape %}