{% include 'html/component/breadcrumbs.html.twig' with {'breadcrumbs': [{
    'url': 'monthly-stats',
    'label': 'Monthly stats'|trans
}]} %}
{% autoescape false %}
    <!-- MONTHLY STATS -->
    <div class="grid grid-cols-1 mb-4">
        <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-xs">
            <div class="flex items-center justify-end mb-2">
                <a href="#" data-model-content-url="{{ relativeUrl('monthly-stats/chart/time.html') }}"
                   class="inline-flex items-center p-2 text-sm font-medium rounded-lg text-blue-600 hover:bg-gray-100">
                    {{ "View details"|trans }}
                </a>
            </div>
            <div class="overflow-auto max-h-[calc(100vh-200px)] relative">
                <table class="w-full text-sm text-center text-gray-500">
                    <thead class="z-10 sticky top-0 text-xs text-gray-700 uppercase bg-gray-50">
                    <tr>
                        <th scope="col" class="px-2 py-3 sticky left-0 bg-gray-50">

                        </th>
                        <th scope="col" class="px-2 py-3">
                            # {{ "workouts"|trans }}
                        </th>
                        <th scope="col" class="px-2 py-3">
                            <div class="flex items-center justify-center">
                                {{ svg('distance') }}
                            </div>
                        </th>
                        <th scope="col" class="px-2 py-3">
                            <div class="flex items-center justify-center">
                                {{ svg('elevation') }}
                            </div>
                        </th>
                        <th scope="col" class="px-2 py-3">
                            <div class="flex items-center justify-center">
                                {{ svg('time') }}
                            </div>
                        </th>
                        <th scope="col" class="px-2 py-3">
                            <div class="flex items-center justify-center">
                                {{ svg('calories') }}
                            </div>
                        </th>
                        <th scope="col" class="px-2 py-3">
                            <div class="flex items-center justify-center">
                                {{ svg('challenge') }}
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for month in months %}
                        {% set statsForCurrentMonth = monthlyStatistics.getForMonth(month) %}
                        {% if statsForCurrentMonth|length > 0 %}
                            <tr class="{{ cycle(['bg-white border-b', 'border-b bg-gray-50'], loop.index0) }}">
                                <th scope="row" class="sticky left-0 w-36 px-2 py-2 text-right font-medium text-gray-900 whitespace-nowrap {{ cycle(['bg-white', 'bg-gray-50'], loop.index0) }}">
                                    <a href="#" data-model-content-url="{{ relativeUrl('month/month-' ~ month.getId() ~ '.html') }}" class="text-blue-600 hover:underline">
                                        {{ month.getLabel() }}
                                    </a>
                                </th>
                                <td class="px-2 py-2 truncate">
                                    {{ statsForCurrentMonth.numberOfActivities }}
                                </td>
                                <td class="px-2 py-2 truncate">
                                    {{ statsForCurrentMonth.distance|renderMeasurement(0) }}
                                </td>
                                <td class="px-2 py-2 truncate">
                                    {{ statsForCurrentMonth.elevation|renderMeasurement(0) }}
                                </td>
                                <td class="px-2 py-2 truncate">
                                    {{ statsForCurrentMonth.movingTime|formatSeconds }}
                                </td>
                                <td class="px-2 py-2 truncate">
                                    {{ statsForCurrentMonth.calories|formatNumber(0) }}<span class="text-xs">kcal</span>
                                </td>
                                <td class="px-2 py-2 truncate">
                                    {{ challenges|filter(challenge => challenge.getCreatedOn().format('Y-m') == month.getId())|length }}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    {% for sportType in sportTypes %}
                        {% set totalsForSportType = monthlyStatistics.getForSportType(sportType) %}
                        <tr class="font-semibold text-gray-900 {{ loop.first ? 'border-t-4' : '' }}">
                            <td class="px-2 py-2 text-right sticky left-0 bg-white">
                                {{ sportType|trans }}
                            </td>
                            <td class="px-2 py-2">
                                {{ totalsForSportType.numberOfActivities }}
                            </td>
                            <td class="px-2 py-2">
                                {{ totalsForSportType.distance|renderMeasurement(0) }}
                            </td>
                            <td class="px-2 py-2">
                                {{ totalsForSportType.elevation|renderMeasurement(0) }}
                            </td>
                            <td class="px-2 py-2">
                                {{ totalsForSportType.movingTime|formatSeconds }}
                            </td>
                            <td class="px-2 py-2">
                                {{ totalsForSportType.calories|formatNumber(0) }}<span class="text-xs">kcal</span>
                            </td>
                            <td class="px-2 py-2">
                            </td>
                        </tr>
                    {% endfor %}
                    <tr class="font-semibold text-gray-900">
                        {% set totals = monthlyStatistics.getTotals() %}
                        <td class="px-2 py-2 text-right sticky left-0 bg-white">
                            {{ "TOTAL"|trans }}
                        </td>
                        <td class="px-2 py-2">
                            {{ totals.numberOfActivities }}
                        </td>
                        <td class="px-2 py-2">
                            {{ totals.distance|renderMeasurement(0) }}
                        </td>
                        <td class="px-2 py-2">
                            {{ totals.elevation|renderMeasurement(0) }}
                        </td>
                        <td class="px-2 py-2">
                            {{ totals.movingTime|formatSeconds }}
                        </td>
                        <td class="px-2 py-2">
                            {{ totals.calories|formatNumber(0) }}<span class="text-xs">kcal</span>
                        </td>
                        <td class="px-2 py-2">
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endautoescape %}