{% autoescape false %}
    <!-- Modal header -->
    <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
        <h3 class="flex items-center text-lg font-semibold text-gray-900">
            <a class="flex items-center gap-x-1 hover:underline" href="{{ segment.getUrl() }}" target="_blank" rel="nofollow">
                {{ segment.getName() }}
                <svg class="w-2 h-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778"/>
                </svg>
            </a>
        </h3>
        <div class="flex items-center">
            <ul class="hidden md:flex text-center mr-2 divide-x divide-gray-200">
                <li class="flex items-center gap-x-0.5 pr-2" title="Distance">
                    {{ svg('distance') }}
                    <div>{{ segment.getDistance().toFloat()|formatNumber(2) }}</div>
                    <div class="text-xs text-gray-500">{{ segment.getDistance().getSymbol() }}</div>
                </li>
                <li class="flex items-center gap-x-0.5 px-2" title="Max gradient">
                    {{ svg('max-gradient') }}
                    <div>{{ segment.getMaxGradient() }}</div>
                    <div class="text-xs text-gray-500">{{ "max gradient"|trans }}</div>
                </li>
            </ul>
            <button type="button" class="close text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center">
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
                <span class="sr-only">{{ "Close modal"|trans }}</span>
            </button>
        </div>
    </div>
    <!-- Modal body -->
    <div class="p-4 md:p-5 space-y-4">
        <div class="grid grid-cols-1 gap-y-1">
            {% if leaflet %}
                {% set leafletOptions = {
                    'routes': leaflet.routes,
                    'tileLayer': leaflet.map.getTileLayer(),
                    'minZoom': leaflet.map.getMinZoom(),
                    'maxZoom': leaflet.map.getMaxZoom(),
                    'imageOverlay': leaflet.map.getOverlayImageUrl(),
                    'bounds': leaflet.map.getBounds(),
                    'showStartMarker': true,
                    'showEndMarker': true
                } %}
                <div class="h-[350px]" style="background-color:{{ leaflet.map.getBackgroundColor() }}"
                     data-leaflet='{{ leafletOptions|json_encode }}'></div>
            {% endif %}
            <div class="tabs tabs--default">
                <ul id="segmentListsTab" data-tabs="#segmentListsContent" role="tablist">
                    <li role="presentation">
                        <a href="#" data-tabs-target="#segmentListsTabTopTen" role="tab" aria-controls="segmentListsTabTopTen">
                            {{ "Top 10"|trans }}
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#" data-tabs-target="#segmentListsTabHistory" role="tab" aria-controls="segmentListsTabHistory">
                            {{ "History"|trans }}
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#" data-tabs-target="#segmentListsTabHistoryChart" role="tab" aria-controls="segmentListsTabHistoryChart">
                            {{ "History chart"|trans }}
                        </a>
                    </li>
                </ul>
            </div>
            <div id="segmentListsContent">
                <div id="segmentListsTabTopTen" role="tabpanel" aria-labelledby="segmentListsTabTopTen-tab">
                    <div class="relative overflow-x-auto">
                        <table class="sortable w-full text-sm text-center text-gray-500">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                            <tr>
                                <th scope="col" class="cursor-pointer px-2 py-3 bg-gray-50 lg:sticky lg:left-0">
                                    <div class="flex items-center justify-center" title="{{ "Ranking"|trans }}">
                                        {{ svg('hashtag') }}
                                    </div>
                                </th>
                                <th scope="col" class="px-2 py-3">
                                    <div class="flex items-center justify-center" title="{{ "Date"|trans }}">
                                        {{ svg('calendar') }}
                                    </div>
                                </th>
                                <th scope="col" class="px-2 py-3">
                                </th>
                                <th scope="col" class="px-2 py-3">
                                    <div class="flex items-center justify-center" title="{{ "Time"|trans }}">
                                        {{ svg('time') }}
                                    </div>
                                </th>
                                <th scope="col" class="px-2 py-3">
                                    <div class="flex items-center justify-center" title="{{ "Speed"|trans }}">
                                        {{ svg('speed') }}
                                    </div>
                                </th>
                                <th scope="col" class="px-2 py-3">
                                    <div class="flex items-center justify-center" title="{{ "Heart rate"|trans }}">
                                        {{ svg('heart-rate') }}
                                    </div>
                                </th>
                                <th scope="col" class="px-2 py-3">
                                    <div class="flex items-center justify-center" title="{{ "Power"|trans }}">
                                        {{ svg('power') }}
                                    </div>
                                </th>
                                <th scope="col" class="px-2 py-3">
                                    <div class="flex items-center justify-center" title="{{ "Gear"|trans }}">
                                        {{ svg('rocket') }}
                                    </div>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for segmentEffort in segmentEffortsTopTen %}
                                <tr class="{{ cycle(['bg-white border-b', 'border-b bg-gray-50'], loop.index0) }}">
                                    <td class="px-2 py-2 truncate lg:sticky lg:left-0 {{ cycle(['bg-white', 'bg-gray-50'], loop.index0) }}">
                                        {{ loop.index }}
                                    </td>
                                    <td class="px-2 py-2">
                                        <div class="flex justify-center">
                                            <div class="w-[4.5rem]">{{ segmentEffort.getStartDateTime()|formatDate() }}</div>
                                        </div>
                                    </td>
                                    <td class="px-2 py-2">
                                        <div class="flex items-center gap-x-1">
                                            {{ segmentEffort.getActivity()|activityLink(ellipses: 180) }}
                                            <a href="{{ segmentEffort.getActivity().getUrl() }}" target="_blank" rel="nofollow">
                                                <svg class="w-2 h-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                                     viewBox="0 0 18 18">
                                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                          d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778"/>
                                                </svg>
                                            </a>
                                        </div>
                                    </td>
                                    <td class="px-2 py-2">
                                        {{ segmentEffort.getElapsedTimeFormatted() }}
                                    </td>
                                    <td class="px-2 py-2">
                                        {% set velocityPreference = segmentEffort.getActivity().getSportType().getVelocityDisplayPreference() %}
                                        {% if velocityPreference is instanceof('App\\Infrastructure\\ValueObject\\Measurement\\Velocity\\SecPer100Meter') %}
                                            {{ segmentEffort.getPaceInSecPer100Meter()|formatPace }}<span class="text-xs">/100m</span>
                                        {% elseif velocityPreference is instanceof('App\\Infrastructure\\ValueObject\\Measurement\\Velocity\\SecPerKm') %}
                                            {{ segmentEffort.getPaceInSecPerKm()|formatPace }}<span class="text-xs">{{ renderUnitSymbol('pace') }}</span>
                                        {% else %}
                                            {{ segmentEffort.getAverageSpeed()|renderMeasurement(1) }}
                                        {% endif %}
                                    </td>
                                    <td class="px-2 py-2">
                                        {{ segmentEffort.getAverageHeartRate() ?? 'n/a' }}
                                    </td>
                                    <td class="px-2 py-2">
                                        {% if segmentEffort.getAverageWatts() %}
                                            {{ segmentEffort.getAverageWatts()|formatNumber(1) }}<span class="text-xs">w</span>
                                        {% else %}
                                            {{ "n/a"|trans }}
                                        {% endif %}
                                    </td>
                                    <td class="px-2 py-2 truncate">
                                        {% set gearName = segmentEffort.getActivity().getGearName() %}
                                        {% if gearName %}
                                            {{ segmentEffort.getActivity().getGearName() }}
                                        {% else %}
                                            {{ "Unspecified"|trans }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="segmentListsTabHistory" role="tabpanel" aria-labelledby="segmentListsTabHistory-tab">
                    {% set maxHeight = leaflet ? 'max-h-[calc(100vh-585px)]' : 'max-h-[calc(100vh-285px)]' %}
                    <div class="relative overflow-x-auto {{ maxHeight }}">
                        <table class="sortable w-full text-sm text-center text-gray-500">
                            <thead class="z-10 sticky top-0 text-xs text-gray-700 uppercase bg-gray-50">
                            <tr>
                                <th scope="col" class="px-2 py-3 bg-gray-50">

                                </th>
                                <th scope="col" class="px-2 py-3  lg:sticky lg:left-0">
                                    <div class="flex items-center justify-center" title="{{ "Date"|trans }}">
                                        {{ svg('calendar') }}
                                    </div>
                                </th>
                                <th scope="col" class="px-2 py-3">
                                </th>
                                <th scope="col" class="px-2 py-3">
                                    <div class="flex items-center justify-center" title="{{ "Time"|trans }}">
                                        {{ svg('time') }}
                                    </div>
                                </th>
                                <th scope="col" class="px-2 py-3">
                                    <div class="flex items-center justify-center" title="{{ "Speed"|trans }}">
                                        {{ svg('speed') }}
                                    </div>
                                </th>
                                <th scope="col" class="px-2 py-3">
                                    <div class="flex items-center justify-center" title="{{ "Heart rate"|trans }}">
                                        {{ svg('heart-rate') }}
                                    </div>
                                </th>
                                <th scope="col" class="px-2 py-3">
                                    <div class="flex items-center justify-center" title="{{ "Power"|trans }}">
                                        {{ svg('power') }}
                                    </div>
                                </th>
                                <th scope="col" class="px-2 py-3">
                                    <div class="flex items-center justify-center" title="{{ "Gear"|trans }}">
                                        {{ svg('rocket') }}
                                    </div>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for segmentEffort in segmentEffortsHistory %}
                                <tr class="{{ cycle(['bg-white border-b', 'border-b bg-gray-50'], loop.index0) }}">
                                    <td class="px-2 py-2 truncate lg:sticky lg:left-0 {{ cycle(['bg-white', 'bg-gray-50'], loop.index0) }}">
                                        {{ loop.index }}
                                    </td>
                                    <td class="px-2 py-2">
                                        <div class="flex justify-center">
                                            <div class="w-[4.5rem]">{{ segmentEffort.getStartDateTime()|formatDate() }}</div>
                                        </div>
                                    </td>
                                    <td class="px-2 py-2">
                                        <div class="flex items-center gap-x-1">
                                            {{ segmentEffort.getActivity()|activityLink(ellipses: 180) }}
                                            <a href="{{ segmentEffort.getActivity().getUrl() }}" target="_blank" rel="nofollow">
                                                <svg class="w-2 h-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                                     viewBox="0 0 18 18">
                                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                          d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778"/>
                                                </svg>
                                            </a>
                                        </div>
                                    </td>
                                    <td class="px-2 py-2">
                                        {{ segmentEffort.getElapsedTimeFormatted() }}
                                    </td>
                                    <td class="px-2 py-2">
                                        {% set velocityPreference = segmentEffort.getActivity().getSportType().getVelocityDisplayPreference() %}
                                        {% if velocityPreference is instanceof('App\\Infrastructure\\ValueObject\\Measurement\\Velocity\\SecPer100Meter') %}
                                            {{ segmentEffort.getPaceInSecPer100Meter()|formatPace }}<span class="text-xs">/100m</span>
                                        {% elseif velocityPreference is instanceof('App\\Infrastructure\\ValueObject\\Measurement\\Velocity\\SecPerKm') %}
                                            {{ segmentEffort.getPaceInSecPerKm()|formatPace }}<span class="text-xs">{{ renderUnitSymbol('pace') }}</span>
                                        {% else %}
                                            {{ segmentEffort.getAverageSpeed()|renderMeasurement(1) }}
                                        {% endif %}
                                    </td>
                                    <td class="px-2 py-2">
                                        {{ segmentEffort.getAverageHeartRate() ?? 'n/a' }}
                                    </td>
                                    <td class="px-2 py-2">
                                        {% if segmentEffort.getAverageWatts() %}
                                            {{ segmentEffort.getAverageWatts()|formatNumber(1) }}<span class="text-xs">w</span>
                                        {% else %}
                                            {{ "n/a"|trans }}
                                        {% endif %}
                                    </td>
                                    <td class="px-2 py-2 truncate">
                                        {% set gearName = segmentEffort.getActivity().getGearName() %}
                                        {% if gearName %}
                                            {{ segmentEffort.getActivity().getGearName() }}
                                        {% else %}
                                            {{ "Unspecified"|trans }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="segmentListsTabHistoryChart" role="tabpanel" aria-labelledby="segmentListsTabHistoryChart-tab">
                    <div class="h-64" data-echarts-options='{{ segmentEffortsHistoryChart}}'></div>
                </div>
            </div>
        </div>
    </div>
{% endautoescape %}
{% macro gearStatisticRow(statistic, loopIndex) %}
    {% autoescape false %}
        <tr class="{{ cycle(['bg-white border-b', 'border-b bg-gray-50'], loopIndex) }}">
            <th scope="row" class="px-2 py-2 sticky left-0 font-medium text-gray-900 whitespace-nowrap {{ cycle(['bg-white', 'bg-gray-50'], loopIndex) }}">
                <a href="#" data-router-navigate="{{ relativeUrl('activities') }}" data-dataTable-filters='{"activities":{"gear":"{{ statistic.id }}"}}' class="font-medium text-blue-600 hover:underline">
                    {{ statistic.name }}
                </a>
            </th>
            <td class="px-6 py-2 truncate">
                {{ statistic.numberOfWorkouts }}
            </td>
            <td class="px-6 py-2 truncate">
                {% if statistic.distance.toFloat() > 0 %}
                    {{ statistic.averageDistance|renderMeasurement(0, 'avg'|trans) }} /
                    {{ statistic.distance|renderMeasurement(0, 'total'|trans) }}
                {% else %}
                    0<span class="text-xs">{{ statistic.distance.getSymbol() }}</span>
                {% endif %}
            </td>
            <td class="px-6 py-2 truncate">
                {{ statistic.elevation|renderMeasurement(0) }}
            </td>
            <td class="px-6 py-2 truncate" title="{{ statistic.movingTimeInHours.tofloat()|formatNumber(1) }}h">
                {{ statistic.movingTime }}
            </td>
            <td class="px-6 py-2 truncate">
                {{ statistic.averageSpeed|renderMeasurement(1) }}
            </td>
            <td class="px-6 py-2 truncate">
                {{ statistic.totalCalories|formatNumber(0) }}<span class="text-xs">kcal</span>
            </td>
            <td class="px-6 py-2 truncate">
                {% set purchasePrice = statistic.purchasePrice %}
                {% if purchasePrice %}
                    {{ purchasePrice|formatMoney }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td class="px-6 py-2 truncate">
                {% set relativeCostPerHour = statistic.relativeCostPerHour %}
                {% if relativeCostPerHour %}
                    {{ relativeCostPerHour|formatMoney }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td class="px-6 py-2 truncate">
                {% set relativeCostPerWorkout = statistic.relativeCostPerWorkout %}
                {% if relativeCostPerWorkout %}
                    {{ relativeCostPerWorkout|formatMoney }}
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>
    {% endautoescape %}
{% endmacro %}