{% autoescape false %}
<tr class="group/row">
    <td class="narrow">
        <div class="flex items-center gap-x-1">
            {{ segment|segmentLink() }}
        </div>
    </td>
    <td class="narrow whitespace-nowrap">
        {% if segment.getLastEffortDate() %}
            {{ segment.getLastEffortDate()|formatDate() }}
        {% endif %}
    </td>
    <td>
        <div class="flex justify-center">
            {% set bestEffort = segment.getBestEffort() %}
            <div class="w-52">
                {{ bestEffort.getElapsedTimeFormatted() }}
                <span class="font-medium">-</span>
                {{ segment.getBestEffort().getAverageSpeed()|renderMeasurement(1) }}
                {% if segment.getBestEffort().getAverageWatts() %}
                    <span class="font-medium">-</span> {{ segment.getBestEffort().getAverageWatts()|formatNumber(0) }}<span class="text-xxs ml-px">w</span>
                {% endif %}
            </div>
        </div>
    </td>
    <td>
        {{ segment.getDistance()|renderMeasurement(2) }}
    </td>
    <td>
        {{ segment.getAverageGradient() }}<span class="text-xxs ml-px">%</span>
    </td>
    <td>
        {{ segment.getNumberOfTimesRidden() }}
    </td>
</tr>
{% endautoescape %}