{% autoescape false %}
<div class="w-full flex justify-center items-center gap-x-2 text-center">
    <div class="grow py-5 border border-gray-200 border-t-4 border-t-strava-orange rounded-sm">
        <div class="text-3xl font-extrabold">
            {{ dayStreak }}
        </div>
        <div class="text-sm">{{ "days"|trans }}</div>
    </div>
    <div class="grow py-5 border border-gray-200 border-t-4 border-t-strava-orange rounded-sm">
        <div class="text-3xl font-extrabold">
            {{ weekStreak }}
        </div>
        <div class="text-sm">{{ "weeks"|trans }}</div>
    </div>
    <div class="grow py-5 border border-gray-200 border-t-4 border-t-strava-orange rounded-sm">
        <div class="text-3xl font-extrabold">
            {{ monthStreak }}
        </div>
        <div class="text-sm">{{ "months"|trans }}</div>
    </div>
</div>
{% endautoescape %}