{% autoescape false %}
{% set activityType =  activity.getSportType().getActivityType() %}
<tr class="group/row">
    <td class="narrow whitespace-nowrap">
        {{ activity.getStartDate()|formatDate() }}
    </td>
    <td class="whitespace-nowrap narrow lg:sticky lg:left-0 bg-white">
        {{ activity|activityLink(ellipses: 50) }}
    </td>
    <td>
        {{ activity.getDistance()|renderMeasurement(activityType.getDistancePrecision()) }}
    </td>
    <td>
        {{ activity.getElevation()|renderMeasurement(0) }}
    </td>
    <td>
        {{ activity.getMovingTimeFormatted() }}
    </td>
    <td>
        {% set velocityPreference = activity.getSportType().getVelocityDisplayPreference() %}
        {% if velocityPreference is instanceof('App\\Infrastructure\\ValueObject\\Measurement\\Velocity\\SecPer100Meter') %}
            {{ activity.getPaceInSecPer100Meter()|formatPace }}<span class="text-xxs ml-px">/100m</span>
        {% elseif velocityPreference is instanceof('App\\Infrastructure\\ValueObject\\Measurement\\Velocity\\SecPerKm') %}
            {{ activity.getPaceInSecPerKm()|formatPace }}<span class="text-xxs ml-px">{{ renderUnitSymbol('pace') }}</span>
        {% else %}
            {{ activity.getAverageSpeed()|renderMeasurement(1) }}
        {% endif %}
    </td>
    <td>
        {{ activity.getAverageHeartRate() ?? '-' }}
    </td>
    <td>
        {{ activity.getCalories() }}<span class="text-xxs ml-px">kcal</span>
    </td>
    <td>
        {{ activity.getAveragePower() ? activity.getAveragePower() ~ '<span class="text-xxs ml-px">w</span>': '-' }}
    </td>
    {% for timeInterval in timeIntervals %}
        {% set powerOutput = activity.getBestAveragePowerForTimeInterval(timeInterval) %}
        {% if powerOutput %}
            <td class="border-l-2">
                {{ powerOutput.getPower() }}<span class="text-xxs ml-px">w</span>
            </td>
            <td class="border-r-2">
                {{ powerOutput.getRelativePower() }}<span class="text-xxs ml-px">w/kg</span>
            </td>
        {% else %}
            <td class="border-l-2">-</td>
            <td class="border-r-2">-</td>
        {% endif %}
    {% endfor %}
</tr>
{% endautoescape %}