{% autoescape false %}
    <!-- Modal header -->
    <div class="modal-header flex items-center justify-between">
        <h3>
            <span>{{ "Maintenance history"|trans }} - {{ gear.getName() }}</span>
        </h3>
        <div class="flex items-center">
            <button type="button" class="close">
                <svg class="size-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
                <span class="sr-only">{{ "Close modal"|trans }}</span>
            </button>
        </div>
    </div>
    <!-- Modal body -->
    <div class="modal-body space-y-4">
        <div class="relative overflow-x-auto">
            <table class="data-table">
                <thead>
                <tr>
                    <th scope="col">
                        {{ "Date"|trans }}
                    </th>
                    <th scope="col" class="bg-gray-50 sticky left-0">
                        {{ "Components"|trans }}
                    </th>
                    <th scope="col" class="text-left">
                        {{ "Activity"|trans }}
                    </th>
                    <th scope="col">
                        {{ "Tag"|trans }}
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for maintenanceTaskTag in maintenanceTaskTags %}
                    <tr class="group/row">
                        <td class="text-center whitespace-nowrap">
                            {{ maintenanceTaskTag.getTaggedOn()|formatDate() }}
                        </td>
                        <th scope="row" class="text-left bg-white sticky left-0 font-medium text-gray-900 whitespace-nowrap">
                            {{ maintenanceTaskTag.getTaggedForGearComponentName() }}
                        </th>
                        <td class="text-left whitespace-nowrap">
                            {{ maintenanceTaskTag.getActivityName() }}
                        </td>
                        <td class="whitespace-nowrap">
                            {{ maintenanceTaskTag.getTag() }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endautoescape %}