{% autoescape false %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>{{ "Statistics for Strava"|trans }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="theme-color" content="#F26822">
        <meta name="mobile-web-app-title" content="{{ "Statistics for Strava"|trans }}">
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="icon" type="image/x-icon" href="{{ absoluteUrl('assets/images/logo.svg') }}">
        <link href="{{ asset('assets/flowbite/tailwind.min.css') }}" rel="stylesheet"/>
    </head>
    <body class="antialiased bg-gray-50">
    {{ renderComponent('top-nav-bar') }}
    <main class="p-4 h-auto min-h-screen pt-20 text-gray-900">
        <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-xs">
            {{ form(form) }}
        </div>
    </main>
    </body>
    </html>
{% endautoescape %}