{% autoescape false %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>{{ appName }} | Admin panel</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="theme-color" content="#F26822">
        <meta name="mobile-web-app-title" content="{{ appName }}">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="csrf-token" content="{{ csrf_token('dispatch-command') }}">
        <meta name="dispatch-command-url" content="{{ relativeUrl(path('admin_dispatch_command')) }}">
        <meta name="rebuild-status-url" content="{{ relativeUrl(path('admin_rebuild_status')) }}">
        <link rel="icon" type="image/x-icon" href="{{ relativeUrl('assets/images/logo.svg') }}">
        <link href="{{ relativeUrl(asset('css/dist/tailwind.min.css')) }}" rel="stylesheet"/>
        <script>
            document.documentElement.setAttribute('data-theme', localStorage.getItem('theme') || 'light');
        </script>
    </head>
    <body class="min-h-screen bg-gray-50 text-gray-900 antialiased admin">
        {% include 'html/admin/component/toast-messages.html.twig' %}
        {% set hasSubNav = isActiveNavItem({'/admin/gear': false}) or isActiveNavItem({'/admin/settings': false}) %}
        <!-- NAVIGATION -->
        {% include 'html/admin/navigation/top-nav-bar.html.twig' %}
        <!-- SIDEBAR -->
        {% include 'html/admin/navigation/icon-rail.html.twig' %}
        <main class="p-4 {{ hasSubNav ? 'md:ml-76' : 'md:ml-16' }} h-auto min-h-screen pt-20 text-gray-900">
            {% block main %}
            {% endblock main %}
        </main>
        <script src="{{ relativeUrl(asset('js/dist/admin.min.js')) }}" type="module"></script>
    </body>
    </html>
{% endautoescape %}