{% autoescape false %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ "Statistics for Strava"|trans }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="theme-color" content="#F26822">
    <meta name="mobile-web-app-title" content="{{ "Statistics for Strava"|trans }}">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" type="image/x-icon" href="{{ relativeUrl('assets/images/logo.svg') }}">
    <link href="{{ relativeUrl(asset('assets/flowbite/tailwind.min.css')) }}" rel="stylesheet"/>
</head>
<body class="bg-gray-50 h-screen flex justify-center items-center">
{{ renderComponent('top-nav-bar') }}
<div class="flex flex-col items-center p-4 text-center">
    <p class="text-2xl font-semibold pb-5">It looks like you are using a refresh token that doesn't have the required <i>activity:read_all</i> scope.</p>
    <p class="text-gray-500 mb-4">
        This is likely because you're using the refresh token provided on the Strava API settings page.
        As noted in <a class="text-blue-600 hover:underline" href="https://statistics-for-strava-docs.robiningelbrecht.be/#/getting-started/installation?id=env">the documentation</a>,
        that token does not include all necessary scopes and won't work. To restart the authorization flow:
    </p>
    <ul>
        <li>Remove the existing refresh token from your <i>.env</i> file and replace it with YOUR_REFRESH_TOKEN_OBTAINED_AFTER_AUTH_FLOW</li>
        <li>Restart your container</li>
        <li>Navigate to the URL below to begin the authorization process again.</li>
    </ul>
    <a href="http://www.strava.com/oauth/authorize?client_id={{ stravaClientId }}&response_type=code&redirect_uri={{ returnUrl }}&approval_prompt=force&scope=activity:read_all"
       class="block w-[200px] mb-4">
        <img src="{{ relativeUrl(asset('assets/images/strava/strava-oauth.svg')) }}"  alt="Start Strava authorization flow"/>
    </a>
</div>
</body>
</html>
{% endautoescape %}