{% autoescape false %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ "Statistics for Strava"|trans }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="theme-color" content="#F26822">
    <meta name="mobile-web-app-title" content="{{ "Statistics for Strava"|trans }}">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" type="image/x-icon" href="{{ relativeUrl('assets/images/logo.svg') }}">
    <link href="{{ relativeUrl(asset('assets/flowbite/tailwind.min.css')) }}" rel="stylesheet"/>
</head>
<body class="bg-gray-50 h-screen flex justify-center items-center">
{{ renderComponent('top-nav-bar') }}
<div class="flex flex-col items-center p-4 text-center">
    <p class="text-2xl font-semibold">Authorization successful 🎉!</p>
    <p class="text-2xl font-semibold pb-5">Copy/paste the refresh token and override `STRAVA_REFRESH_TOKEN` in your `.env` file.</p>
    <p class="text-gray-500 mb-4">After restarting your container, navigate to {{ url }}</p>
    <code>{{ refreshToken }}</code>
</div>
</body>
</html>
{% endautoescape %}